<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>redsys</name>
    <displayName><![CDATA[Credit card payment]]></displayName>
    <version><![CDATA[4.0.1]]></version>
    <description><![CDATA[Aceptar pagos con tarjeta]]></description>
    <author><![CDATA[REDSYS]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>